:root {
  --fontsize: 20px;
  --paddingsize: 112px;
  --sectionpadding: 375px;
  --maincolor: #ffffff;
  --addcolor: #ddeccc25;
  --addcolor2: #BC2649;
  --fontcolor: #101010;
  --footercolor: #213430;
  --errorcolor: #FF1430;
  --modalcolor: #CFDAD3;
}

html {
  scroll-behavior: smooth;
}
body {
  /* width: 1920px; */
  width: 100%;
  font-size: var(--fontsize);
  font-weight: 300;
  font-family: 'SF UI Display', sans-serif;
  position: relative;
  transition: 0.25s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}
*:hover {
  transition: 0.25s;
}
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--modalcolor);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--maincolor);
  border-radius: 10px;
  border: none;
}

ul {    
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--fontcolor);
  cursor: pointer;
}
pre {
  font-size: var(--fontsize);
  font-weight: 300;
  font-family: 'SF UI Display', sans-serif;
}

.section {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: calc(var(--paddingsize)*2) var(--sectionpadding);
}
.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
}
.flex-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.caption {
  font-size: 82px;
  font-weight: 600;
  line-height: 97px;
  text-transform: uppercase;
}
.caption:first-child {
  margin-top: 11px;
}
.caption:nth-child(2) {
  margin-left: 100px;
  margin-bottom: 76px;
}
.sub-caption {
  position: absolute;
  top: 237px;
  right: var(--sectionpadding);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* HEADER */
#header {
  padding-top: var(--paddingsize);
  padding-bottom: 128px;
  line-height: 40px;
}
.brand-name {
  text-transform: uppercase;
}
.header-flex-container {
  column-gap: 50px;
}
.leave-link {
  text-decoration: underline;
  cursor: pointer;
}
.leave-link:hover {
  color: var(--addcolor2);
}
.nav-burger-list {
  text-align: right;
}
.nav-burger-items {
  padding: 0 5px;
  cursor: pointer;
}
.nav-burger-items:hover > a {
  color: var(--addcolor2);
}
.header-left-grid-cell {
  padding-top: 45px;
  padding-right: 100px;
  border-right: 1px solid rgba(110, 137, 121, 0.4);
  font-size: 26px;
  line-height: 36px;
  color: #585858;
}
.header-right-grid-cell {
  padding: 30px 150px 24px 28px;
  font-size: 50px;
  line-height: 65px;
}
.header-img {
  position: absolute;
  width: 593px;
  height: 660px;
  right: -220px;
  top: 192px;
  background-image: url(./assets/logo.svg);
  transition: 0.3s;
}
.header-img:hover {
  transform: scale(1.1) rotate(-15deg);
}

/* MAIN */
#main {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  padding-top: var(--paddingsize);
  height: 918px;
  width: 100%;
  background-image: url(./assets/main.svg);
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main-banner {
  padding: 34px 15px 34px 47px;
  width: 436px;
  height: 170px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: var(--addcolor2);
  color: var(--maincolor);
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 34px;
  clip-path: polygon(0% 0%, 385px 0, 100% 45px, 100% 100%, 0% 100%);
}
.main-banner:hover {
  transform: scale(1.1);
}

/* VALUES */
#values {
 padding-bottom: 192px;
}
#values > .grid-container {
  position: relative;
}
#values > .grid-container:nth-child(2n+1)::after {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% + var(--sectionpadding));
  left: 0;
  bottom: 0;
  border-bottom: 1px solid rgba(110, 137, 121, 0.4);
}
#values > .grid-container:last-child::after {
  display: none;
}
#values > .grid-container > div {
  display: flex;
  font-size: calc(var(--fontsize) * 2);
  line-height: 52px;
}
#values > .grid-container:nth-child(2n) > div {
  padding: 32px 0px 45px 0px;
}
#values > .grid-container:nth-child(2n+1) > div {
  padding: 45px 0px 32px 0px;
}
#values > .grid-container > div:nth-child(1) {
  border-right: 1px solid rgba(110, 137, 121, 0.4);
}
#values > .grid-container > div:nth-child(2) {
  margin-left: 32px;
}

/* SERVICES */
#services {
  position: relative;
  background-color: var(--addcolor);
}
#services > .grid-container > div {
  margin: 10px 0px 0px 32px;
  font-size: 40px;
  line-height: 52px;
}
.services-img {
  position: absolute;
  width: 593px;
  height: 660px;
  left: -200px;
  top: 570px;
  transform: rotate(198deg);
  background-image: url(./assets/logo.svg);
  transition: 0.3s;
}
.services-img:hover {
  transform: scale(1.1) rotate(-185deg);
}

/* CASES */
#cases {
 padding-left: 0;
 padding-right: 0;
 padding-bottom: 0;
}
#cases > div > .caption {
  margin-bottom: 128px;
  padding-left: var(--sectionpadding);
}
#cases > .flex-container{
  flex-wrap: wrap;
}
.case-item {
  position: relative;
  width: 50%;
  height: 500px;
  transition: 0.25s;
  cursor: pointer;
}
.case-item:hover .class-item-img {
  transform: scale(1.06) translate(40px, 0);
}
.case-item:hover .class-item-caption-container {
  transform: translate(0px, 20px);
}
.class-item-caption-container {
  position: absolute;
  bottom: 95px;
  left: 115px;
  transition: 0.25s;
}
.case-item:nth-child(2n+1) > .class-item-caption-container {
  left: 196px;
}
.class-item-img {
  position: absolute;
  background-size: cover;
  transition: 0.25s;
}
.class-item-caption {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}
.class-item-subcaption {
  font-size: 22px;
  line-height: 50px;
}
.my-dent {
  background-color: #FCFCFC;
}
.my-dent > .class-item-img {
  width: 297px;
  height: 283px;
  right: 225px;
  top: 30px;
  background-image: url(./assets/dent.svg);
}
.my-dent > .class-item-caption-container > .class-item-caption {
  background: linear-gradient(272.56deg, #374E9D 4.23%, #31499B 28.47%, #6B386E 63.33%, #EC3237 104.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.my-dent > .class-item-caption-container > .class-item-subcaption {
  color: #484D61;
}
.dolunts {
  background-color: #C3D3C9;
}
.dolunts > .class-item-img {
  width: 400px;
  height: 327px;
  right: 20px;
  top: 47px;
  background-image: url(./assets/education.svg);
}
.dolunts > .class-item-caption-container > .class-item-caption {
  color: #413D3D;
  }
.dolunts > .class-item-caption-container > .class-item-subcaption {
  color: #585858;
}
.lounge {
  background-color: #1F1B20;
}
.lounge > .class-item-img {
  width: 223px;
  height: 218px;
  right: 265px;
  top: 67px;
  background-image: url(./assets/lounge.svg);
}
.lounge > .class-item-caption-container > .class-item-caption {
  color: #63B5AC;
}
.lounge > .class-item-caption-container > .class-item-subcaption {
  color: var(--maincolor);
}
.sneakers {
  background-color: #FBFBFB;
}
.sneakers > .class-item-img {
  width: 355px;
  height: 245px;
  right: 70px;
  top: 70px;
  background-image: url(./assets/sneaker.svg);
}
.sneakers > .class-item-caption-container > .class-item-subcaption {
  color: #363636;
}

/* CONTACTS */
.contacts-input-container {
  position: relative;
  width: 100%;
}
.contacts-input-container.error {
  color: var(--errorcolor);
}
.contacts-input-container.error > input {
  color: var(--errorcolor);
  border-bottom: 3px solid var(--errorcolor);
}
.flex-container > .contacts-input-container {
  width: 31.5%;
}
.contacts-input {
  padding-top: 52px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #47443C;
  padding-bottom: 13px;
  font-size: 22px;
  line-height: 29px;
  background: transparent;
}
.contacts-input:hover {
  border-bottom: 1px solid var(--addcolor2);
}
.contacts-input:focus {
  border-bottom: 3px solid var(--addcolor2);
  outline: none;
}
.contacts-input:active {
  border-bottom: 3px solid var(--addcolor2);
  outline: none;
}
.contacts-label {
  position: absolute; 
  display: inline-block;
  bottom: 13px;
  font-size: 22px;
  line-height: 29px;
  color: #585858;
  transition: all 0.25s;
  cursor: pointer;
}
.contacts-label.label-end {
  bottom: 50px;
}
.contacts-file-container {
  display: flex;
  margin: 56px 0 40px 0;
  align-items: center;
}
.file-name {
  margin-left: 50px;
}
.contacts-file-label {
  position: relative;
	display: block;
  width: 300px;
  height: 72px;
  border: 1px solid #ddeccc4d;
  border-radius: 35px;
  cursor: pointer;
}
.contacts-file-container.error > .contacts-file-label {
  border: 2px solid var(--errorcolor);
}
.contacts-file-label.checked {
  color: var(--addcolor2);
  border: 2px solid var(--addcolor2);
}
.contacts-file-label:hover {
  border: 1px solid var(--addcolor2);
}
.contacts-file-label:focus {
  border: 2px solid var(--addcolor2);
}
.contacts-file-label:active {
  border: 2px solid var(--addcolor2);
}
.contacts-file-label > span {
  position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 20px;
  line-height: 24px;
	vertical-align: middle;
	text-align: center;
	height: 40px;
	padding: 24px 87px 24px 50px;
}
.contacts-file-label > span > span {
  position: absolute;
  height: 33px;
  width: 33px;
  top: 22px;
  left: 220px;
  background-image: url(./assets/Vector.svg);
  background-size: 33px 33px;
  background-repeat: no-repeat;
}
.contacts-file-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
  outline: none;
}
.files-names-container {
  display: flex;
  margin-left: 60px;
  column-gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.files-names-container > span {
  padding: 10px 33px 10px 10px;
  height: 45px;
  background: rgba(221, 236, 204, 0.12);
  border-radius: 4px;
}
.contacts-input-container {
  cursor: pointer;
}
.checkbox.error > label > pre {
  color: var(--fontcolor);
}
.checkbox.error > .contacts-checkbox-input + label::before {
  border: 2px solid var(--errorcolor);
  cursor: pointer;
}
.contacts-checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.contacts-checkbox-label,
.contacts-checkbox-label > pre {
  font-size: 22px;
  line-height: 29px;
  cursor: pointer;
}
.contacts-checkbox-input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.contacts-checkbox-input + label::before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  background: rgba(221, 236, 204, 0.12);  
  border: 2px solid #C5D0C9;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75% 75%;
}
.contacts-checkbox-input:checked + label::before {
  border-color: #4BC6E1;
  background-color: #4BC6E1;
  background-image: url(./assets/check.svg);
}
.contacts-checkbox-input:hover + label::before {
  border-color: #4BC6E1;
}
#agreement-link {
  color: #4BC6E1;
  font-size: 24px;
  line-height: 29px;
}
#agreement-link:hover {
  text-decoration: underline;
}
.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
  margin: 55px auto 0px auto;
  background-color: var(--addcolor2);
  border: none;
  border-radius: 50%;
  color: var(--maincolor);
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  transition: 0.25s;
}
.form-btn:hover {
  transform: scale(1.1);
}
.form-btn:active {
  transform: scale(1);
}
.input-error {
  position: absolute;
  left: 0;
  bottom: -20px;
  color: var(--errorcolor);
  font-size: 15px;
}

/* FOOTER */
#footer {
  height: 260px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: var(--footercolor);
}
#footer > .header-nav-burger > .header-nav-burger-list {
  display: flex;
  flex-direction: row;
  column-gap: 88px;
  color: var(--maincolor);
}
#footer a {
  color: var(--maincolor);
}
#footer a:hover {
  color: var(--addcolor2);
}
.footer-flex-container {
  justify-content: flex-start;
  padding-top: 96px;
  column-gap: 150px;
  color: var(--maincolor);
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}

/* MODAL */
.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: none;
  transition: 0.2s;   
}
.modal-background.visible {
  display: flex;
}
.modal {
  position: absolute;
  width: 700px;
  height: 400px;
  top: 50%;
  left: 50%;
  background-color: var(--modalcolor);
  transform: translate(-50%, -50%);
}
.modal-caption {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 40px;
}
.modal-text {
  font-size: 26px;
  line-height: 52px;
  max-height: 85%;
  overflow-y: auto;
}
.modal-close {
  position: absolute;
  top: 0;
  right: -40px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(./assets/close.svg);
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.agreement {
  width: 80%;
  height: 75%;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 80px 84px;
  overflow: hidden;
}
.modal-img {
  position: absolute;
  width: 660px;
  height: 660px;
  right: -365px;
  top: 55%;
  transform: rotate(190deg);
  background-image: url(./assets/logo.svg);
  filter: invert(0%) sepia(92%) saturate(0%) hue-rotate(170deg) brightness(150%) contrast(102%);
}
