:root {
  --fontsize: 20px;
  --paddingsize: 112px;
  --sectionpadding: 375px;
  --maincolor: #ffffff;
  --addcolor: #ddeccc25;
  --addcolor2: #BC2649;
  --fontcolor: #101010;
  --footercolor: #213430;
  --errorcolor: #FF1430;
  --modalcolor: #CFDAD3;
}

html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  width: 100%;
  font-size: var(--fontsize);
  font-weight: 300;
  font-family: 'SF UI Display', sans-serif;
  transition: 0.25s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}
*:hover {
  transition: 0.25s;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--modalcolor);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--maincolor);
  border-radius: 10px;
  border: none;
}

ul {    
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--fontcolor);
  cursor: pointer;
}
pre {
  font-size: var(--fontsize);
  font-weight: 300;
  font-family: 'SF UI Display', sans-serif;
}
main {
  position: relative;
}

.section {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.section-wrapper {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: calc(var(--paddingsize) * 2) 0px;
}
.grid-container {
  display: grid;
  grid-template-columns: 40% 60%;
}
.flex-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.caption {
  font-size: 82px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
}
.caption:first-child {
  margin-top: 11px;
}
.caption:nth-child(2) {
  margin-left: 100px;
  margin-bottom: 76px;
}
.sub-caption {
  position: absolute;
  top: 237px;
  right: 0px;
  color: #8E8E8E;
  line-height: 120%;
  letter-spacing: 0.15em;
  font-weight: 300;
  text-transform: uppercase;
}
.top-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 15px;
  bottom: 32px;
  border-radius: 50%;
  background: #C5D0C9;
  background-image: url(./assets/arrow.svg);
  background-size: 13px 13px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
}
.top-btn.top-btn_hide {
  display: none;
}
.top-btn:active {
  transform: scale(1.1);
}

/* HEADER */
#header {
  padding-top: var(--paddingsize);
  padding-bottom: 128px;
}
#header .flex-container {
  line-height: 200%;
}
.brand-name {
  line-height: 200%;
  font-weight: 600;
  text-transform: uppercase;
}
.header-container {
  column-gap: 50px;
}
.header-container__link {
  text-decoration: underline;
  cursor: pointer;
}
.header-container__link:hover {
  color: var(--addcolor2);
}
.nav-container {
  z-index: 3;
}
.nav-btn {
  position: absolute;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 15px;
  top: 20px;
  background: var(--addcolor2);
  z-index: 2;
  cursor: pointer;
}
.nav-btn:active {
  transform: scale(1.1);
}
.nav-btn > span,
.nav-btn > span::before,
.nav-btn > span::after {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--maincolor);
}
.nav-btn > span::before {
  content: '';
  top: -8px;
}
.nav-btn > span::after {
  content: '';
  top: 8px;
}
.nav {
  z-index: 1;
}
.nav-btn.nav-btn_open span {
  transform: rotate(45deg);
}
.nav-btn.nav-btn_open span::before {
  top: 0;
  transform: rotate(0);
}
.nav-btn.nav-btn_open span::after {
  top: 0;
  transform: rotate(90deg);
}
.nav.nav_open .nav-list {
  display: block;
}
.nav-list {
  text-align: right;
}
.nav-list__items {
  padding: 0 5px;
  line-height: 200%;
  cursor: pointer;
}
.nav-list__items:hover > a {
  color: var(--addcolor2);
}
#header .grid-container__left-col {
  padding-top: 45px;
  padding-right: 100px;
  border-right: 1px solid rgba(110, 137, 121, 0.4);
  font-size: 26px;
  line-height: 140%;
  color: #585858;
}
#header .grid-container__right-col  {
  padding: 30px 150px 24px 28px;
  font-size: 50px;
  line-height: 130%;
}
.header-img {
  position: absolute;
  width: 593px;
  height: 660px;
  right: -220px;
  top: 192px;
  background-image: url(./assets/logo.svg);
  transition: 0.3s;
}
.header-img:hover {
  transform: scale(1.1) rotate(-15deg);
}

/* MAIN */
#main {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  padding-top: var(--paddingsize);
  height: 918px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section_main {
  background-image: url(./assets/main.svg);
  background-size: cover;
}
.main-banner {
  padding: 34px 15px 34px 47px;
  width: 436px;
  height: 170px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: var(--addcolor2);
  color: var(--maincolor);
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 140%;
  clip-path: polygon(0% 0%, 385px 0, 100% 45px, 100% 100%, 0% 100%);
}
.main-banner:hover {
  transform: scale(1.1);
}

/* VALUES */
#values {
 padding-bottom: 192px;
}
#values > .grid-container {
  position: relative;
}
#values > .grid-container::after {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% + var(--sectionpadding));
  left: 0;
  bottom: 0;
  border-bottom: 1px solid rgba(110, 137, 121, 0.4);
}
#values > .grid-container:last-child::after {
  display: none;
}
#values .grid-container__left-col,
#values .grid-container__right-col {
  display: flex;
  padding: 32px 0px;
  font-size: calc(var(--fontsize) * 2);
  line-height: 130%;
}
#values .grid-container__left-col {
  padding-top: 230px;
  border-right: 1px solid rgba(110, 137, 121, 0.4);
}
#values .grid-container__right-col {
  padding-left: 32px;
}

/* SERVICES */
#services > .grid-container > div {
  margin: 10px 0px 0px 32px;
  font-size: 40px;
  line-height: 130%;
}
.section_services {
  background-color: var(--addcolor);
}
.services-img {
  position: absolute;
  width: 593px;
  height: 660px;
  left: -210px;
  top: 550px;
  transform: rotate(198deg);
  background-image: url(./assets/logo.svg);
  background-size: cover;
  transition: 0.3s;
}
.services-img:hover {
  transform: scale(1.1) rotate(-185deg);
}

/* CASES */
#cases {
  padding-bottom: 0px;
}
.section_cases {
 padding-bottom: 0;
}
#cases > div > .caption {
  margin-bottom: 128px;
}
.section_cases > .flex-container{
  flex-wrap: wrap;
}
.case-item {
  position: relative;
  width: 50%;
  height: 500px;
  transition: 0.25s;
  cursor: pointer;
}
.case-item:hover .case-item__img {
  transform: scale(1.06) translate(40px, 0);
}
.case-item:hover .case-inner {
  transform: translate(0px, 20px);
}
.case-inner {
  position: absolute;
  bottom: 95px;
  left: 115px;
  transition: 0.25s;
}
.case-item:nth-child(2n+1) > .case-inner {
  left: 196px;
}
.case-item__img {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.25s;
}
.case-item__caption {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
}
.case-item__subcaption {
  font-size: 22px;
  line-height: 130%;
}
.my-dent {
  background-color: #FCFCFC;
}
.my-dent > .case-item__img {
  width: 297px;
  height: 283px;
  right: 225px;
  top: 30px;
  background-image: url(./assets/dent.svg);
}
.my-dent > .case-inner > .case-item__caption {
  background: linear-gradient(272.56deg, #374E9D 4.23%, #31499B 28.47%, #6B386E 63.33%, #EC3237 104.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.my-dent > .case-inner > .case-item__subcaption {
  color: #484D61;
}
.dolunts {
  background-color: #C3D3C9;
}
.dolunts > .case-item__img {
  width: 400px;
  height: 327px;
  right: 20px;
  top: 47px;
  background-image: url(./assets/education.svg);
}
.dolunts > .case-inner > .case-item__caption {
  color: #413D3D;
  }
.dolunts > .case-inner > .case-item__subcaption {
  color: #585858;
}
.lounge {
  background-color: #1F1B20;
}
.lounge > .case-item__img {
  width: 223px;
  height: 218px;
  right: 265px;
  top: 67px;
  background-image: url(./assets/lounge.svg);
}
.lounge > .case-inner > .case-item__caption {
  color: #63B5AC;
}
.lounge > .case-inner > .case-item__subcaption {
  color: var(--maincolor);
}
.sneakers {
  background-color: #FBFBFB;
}
.sneakers > .case-item__img {
  width: 355px;
  height: 245px;
  right: 70px;
  top: 70px;
  background-image: url(./assets/sneaker.svg);
}
.sneakers > .case-inner > .case-item__subcaption {
  color: #363636;
}

/* CONTACTS */
.input-container {
  position: relative;
  width: 100%;
}
.input-container.input-container_error {
  color: var(--errorcolor);
}
.input-container.input-container_error > input {
  color: var(--errorcolor);
  border-bottom: 3px solid var(--errorcolor);
}
.input-container.input-container_error pre {
  color: var(--fontcolor);
}
.flex-container > .input-container {
  width: 31.5%;
}
.input-container__input {
  padding-top: 52px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #47443C;
  padding-bottom: 13px;
  font-size: 22px;
  line-height: 130%;
  background: transparent;
  cursor: pointer;
}
.input-container__input:hover {
  border-bottom: 1px solid var(--addcolor2);
}
.input-container__input:focus {
  border-bottom: 3px solid var(--addcolor2);
  outline: none;
}
.input-container__input:active {
  border-bottom: 3px solid var(--addcolor2);
  outline: none;
}
.input-container__label {
  position: absolute; 
  display: inline-block;
  top: 52px;
  font-size: 22px;
  line-height: 130%;
  color: #585858;
  transition: all 0.25s;
}
.input-container__label.input-container__label_end {
  top: 20px;
}
.file-input-container {
  display: flex;
  margin: 56px 0 40px 0;
  align-items: center;
}
.file-input-container__label {
  position: relative;
	display: block;
  width: 300px;
  min-width: 300px;
  height: 72px;
  border: 1px solid #ddeccc4d;
  border-radius: 35px;
  cursor: pointer;
}
.file-input-container.input-container_error > .file-input-container__label {
  border: 2px solid var(--errorcolor);
}
.file-input-container__label.file-input-container__label_checked {
  color: var(--addcolor2);
  border: 2px solid var(--addcolor2);
}
.file-input-container__label:hover {
  border: 1px solid var(--addcolor2);
}
.file-input-container__label:focus {
  border: 2px solid var(--addcolor2);
}
.file-input-container__label:active {
  border: 2px solid var(--addcolor2);
}
.file-input-container__label > span {
  position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 20px;
  line-height: 120%;
	vertical-align: middle;
	text-align: center;
	height: 40px;
	padding: 24px 87px 24px 50px;
}
.file-input-container__label > span > span {
  position: absolute;
  height: 33px;
  width: 33px;
  top: 22px;
  left: 220px;
  background-image: url(./assets/Vector.svg);
  background-size: 33px 33px;
  background-repeat: no-repeat;
}
.file-input-container__input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
  outline: none;
}
.files-container {
  width: calc(100% - 300px);
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
  column-gap: 20px;
  row-gap: 16px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.file-name-item {
  position: relative;
  padding: 10px 33px 10px 10px;
  max-width: 100%;
  height: 45px;
  background: rgba(221, 236, 204, 0.12);
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file-name-item div {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 17px;
  right: 15px;
  background-image: url(./assets/delete-item.svg);
  background-size: cover;
}
.file-name-item div:hover {
  transform: scale(1.2);
  filter: invert(21%) sepia(84%) saturate(2617%) hue-rotate(329deg) brightness(81%) contrast(89%);
}
.file-name-item div:active {
  transform: scale(1);
  filter: invert(21%) sepia(84%) saturate(2617%) hue-rotate(329deg) brightness(81%) contrast(89%);
}
.input-container {
  cursor: pointer;
}
.agreement-container .input-error{
  display: block;
  padding-left: 30px;
  padding-top: 10px;
}
.agreement-container.input-container_error > label > pre {
  color: var(--fontcolor);
}
.agreement-container.input-container_error > .agreement-container__input + label::before {
  border: 2px solid var(--errorcolor);
  cursor: pointer;
}
.agreement-container__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.agreement-container__label,
.agreement-container__label pre {
  font-size: 22px;
  line-height: 130%;
  cursor: pointer;
}
.agreement-container__label > span {
  display: flex;
}
.agreement-container__input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.agreement-container__input + label::before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  background: rgba(221, 236, 204, 0.12);  
  border: 2px solid #C5D0C9;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75% 75%;
}
.agreement-container__input:checked + label::before {
  border-color: #4BC6E1;
  background-color: #4BC6E1;
  background-image: url(./assets/check.svg);
}
.agreement-container__input:hover + label::before {
  border-color: #4BC6E1;
}
.input-container.input-container_error.checkbox {
  color: var(--fontcolor);
}
#agreement-link {
  color: #4BC6E1;
  font-size: 22px;
  line-height: 130%;
}
#agreement-link:hover {
  text-decoration: underline;
}
.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
  margin: 55px auto 0px auto;
  background-color: var(--addcolor2);
  border: none;
  border-radius: 50%;
  color: var(--maincolor);
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  transition: 0.25s;
}
.form-btn:hover {
  transform: scale(1.1);
}
.form-btn:active {
  transform: scale(1);
}
.input-error {
  color: var(--errorcolor);
  font-size: 15px;
}

/* FOOTER */
#footer {
  padding: 45px 0px;
}
#footer > .nav > .nav-list {
  display: flex;
  flex-direction: row;
  column-gap: 88px;
  color: var(--maincolor);
}
#footer a {
  color: var(--maincolor);
}
#footer a:hover {
  color: var(--addcolor2);
}
.footer-section {
  background-color: var(--footercolor);
}
.flex-container_footer {
  justify-content: flex-start;
  padding-top: 96px;
  column-gap: 150px;
  color: var(--maincolor);
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
}
.flex-container_footer > div:last-child {
  display: none;
}

/* MODAL */
.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: none;
  transition: 0.2s;
  z-index: 10;  
}
.modal-background.modal-background_visible {
  display: flex;
}
.modal {
  position: absolute;
  width: 700px;
  height: 400px;
  top: 50%;
  left: 50%;
  background-color: var(--modalcolor);
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.modal_visible {
  visibility: visible;
}
.modal-caption {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  padding-bottom: 40px;
}
.modal-text {
  font-size: 26px;
  line-height: 200%;
  max-height: 85%;
  overflow-y: auto;
}
.modal-close {
  position: absolute;
  top: 0;
  right: -40px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(./assets/close.svg);
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.modal-close:hover {
  transform: scale(1.1);
}
.agreement {
  width: 80%;
  height: 75%;
}
.modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 80px 84px;
  overflow: hidden;
}
.modal-img {
  position: absolute;
  width: 660px;
  height: 660px;
  right: -375px;
  bottom: -380px;
  transform: rotate(180deg);
  background-image: url(./assets/logo.svg);
  background-size: cover;
  filter: invert(0%) sepia(92%) saturate(0%) hue-rotate(170deg) brightness(150%) contrast(102%);
}
.spinner {
  position: relative;
  margin: auto auto;
  width: 60px;
  height: 60px;
  visibility: hidden;
  z-index: 10;
}
.spinner.spinner_visible {
  visibility: visible;
}
.spinner__item1, 
.spinner__item2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--maincolor);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;  
  -webkit-animation: sk-bounce 1.0s infinite ease-in-out;
  animation: sk-bounce 1.0s infinite ease-in-out;
}
.spinner__item2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media (max-width: 1630px) {
  .dolunts > .case-item__img {
    width: 290px;
    height: 230px;
    right: 60px;
  }
}

@media (max-width: 1370px) {
  .section-wrapper {
    width: auto;
    margin: 0 100px;
  }
  .input-error {
    font-size: 13px;
  }
}

@media (max-width: 1180px) {
  .section-wrapper {
    padding: 81px 0px 32px 0px;
  }
  .caption {
    font-size: 34px;
  }
  .caption:first-child {
    margin: 0px;
  }
  .caption:nth-child(2) {
    margin-left: 0px;
    margin-bottom: 32px;
  }
  .sub-caption {
    top: 32px;
    left: 0px;
    font-size: 14px;
  }
  #header {
    padding: 32px 0px 64px 0px;
  }
  #header .caption:nth-child(2) {
    margin-left: 100px;
  }
  #header .flex-container  {
    justify-content: flex-end;
  }
  #header .flex-container > .flex-container {
    display: none;
  }
  .header-img {
    top: 130px;
  }
  #main {
    height: 600px;
    padding-top: 32px;
  }
  #services > div:first-child {
    display: flex;
    column-gap: 10px;
  }
  #services > .grid-container {
    grid-template-columns: 0% 100%;
  }
  #services > .grid-container > div {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin: 0px;
    font-size: 22px;
  }
  .services-img {
    width: 360px;
    height: 340px;
    top: -135px;
    right: -200px;
    left: auto;
    transform: rotate(270deg);
  }
  .services-img:hover {
    transform: rotate(285deg);
  }
  #values {
    padding: 113px 0 32px 0;
  }
  #values > .grid-container > div {
    font-size: 22px;
  }
  #values .sub-caption {
    top: 64px;
  }
  #values .grid-container__left-col {
    padding-top: 140px;
  }
  #cases > div > .caption {
    margin-bottom: 32px;
  }
  .case-item {
    width: 50%;
    height: 345px;
  }
  .my-dent > .case-item__img,
  .dolunts > .case-item__img,
  .lounge > .case-item__img,
  .sneakers > .case-item__img {
    height: 153px;
    width: 161px;
    left: 50%;
    top: 54px;
  }
  .case-inner, 
  .case-item:nth-child(2n+1) > .case-inner {
    left: 47px;
    bottom: 32px
  }
  .case-item__caption {
    font-size: 26px;
  }
  .case-item__subcaption {
    font-size: 18px;
  }
  .case-item:hover .case-item__img {
    transform: scale(1.06) translate(-20px, 0);
  }
  .case-item:hover .case-inner {
    transform: translate(0px, -20px);
  }
  #contacts {
    padding-top: 32px;
  }
  .input-container__input {
    padding-top: 32px;
  }
  .input-error {
    bottom: -35px;
  }
  .input-container__label {
    top: 40px;
  }
  .input-container__label.input-container__label_end {
    top: 5px;
  }
  .form-btn {
    margin: 32px auto 0px auto;
    width: 163px;
    height: 163px;
    font-size: 20px;
  }
  #footer {
    padding: 32px 0px;
  }
  #footer .nav {
    display: none;
  }
  .flex-container_footer {
    flex-direction: column;
    row-gap: 32px;
    padding: 0;
    font-size: 26px;
  }
  .flex-container_footer > div:last-child  {
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    text-transform: none;
  }
  .modal-caption {
    font-size: 28px;
  }
  .modal-text {
    font-size: 24px;
  }
}

@media (max-width: 1000px) {
  form .flex-container {
    flex-direction: column;
  }
  .flex-container .input-container {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .section-wrapper {
    margin: 0 50px;
  }
  #header .grid-container__left-col {
    font-size: 18px;
  }
  #header .grid-container__right-col {
    font-size: 28px;
  }
  .header-img {
    top: 115px;
    right: -300px;
  }
  #main {
    height: 400px;
  }
  .main-banner {
    width: 182px;
    height: 82px;
    font-size: 12px;
    padding: 15px 13px;
    text-transform: none;
    clip-path: polygon(0% 0%, 162px 0, 100% 20px, 100% 100%, 0% 100%);
  }
  .case-item {
    width: 100%;
  }
  #contacts .caption:nth-child(2) {
    margin-bottom: 0px;
  }
  .files-container {
    width: 100%;
    flex-direction: column;
  }
  .flex-container > .input-container {
    width: 100%;
  }
  .input-container__label,
  .input-container__input {
    font-size: 18px;
  }
  .input-container__input {
    padding-top: 39px;
    padding-bottom: 10px;
  }
  .file-input-container {
    display: block;
  }
  .file-input-container__label {
    width: 185px;
    min-width: 185px;
    height: 62px;
    margin-bottom: 0px;
  }
  .file-input-container__label > span {
    font-size: 14px;
    padding: 22px;
  }
  .file-input-container__label > span > span {
    height: 25px;
    width: 25px;
    top: 20px;
    left: 140px;
    background-size: 25px 25px;
  }
  .files-container {
    margin-left: 0px;
  }
  .file-name-item:first-child {
    margin-top: 32px;
  }
  .input-container__label.input-container__label_end {
    bottom: 40px;
  }
  .input-error {
    bottom: -15px;
    font-size: 13px;
  }
  .agreement-container__label, 
  .agreement-container__label pre {
    font-size: 18px;
  }
  #agreement-link {
    font-size: 18px;
  }
  .form-btn {
    margin-left: 0px;
  }
  .modal {
    width: 80%;
  }
  .modal-wrapper {
    padding: 60px 40px;
  }
  .modal-caption {
    font-size: 24px;
  }
  .modal-text {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  #values br {
    display: none;
  }
  .section-wrapper {
    margin: 0 15px;
  }
  #header .caption:first-child {
    padding-top: 113px;
  }
  .brand-name {
    line-height: 120%;
  }
  .nav-btn {
    visibility: visible;
  }
  .nav-container {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
  }
  .nav-list {
    display: none;
    text-align: left;
    padding: 22px 0px 255px 15px;
    background-color: var(--modalcolor);
    font-size: 22px;
  }
  #header .grid-container:last-child {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  #header .grid-container__left-col,
  #header .grid-container__right-col{
    width: 100%;
  }
  #header .grid-container__right-col {
    padding: 30px 0px 0px 0px;
  }
  #header .grid-container__left-col {
    padding-top: 128px;
  }
  .header-img {
    top: 195px;
    right: -340px;
  }
  #header .grid-container__left-col {
    border-right: none;
  }
  #main {
    height: 180px;
  }
  #values .grid-container {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  #values > .grid-container > div {
    position: relative;
  }
  #values > .grid-container::after,
  #values > .grid-container > div::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% + 30px);
    left: -15px;
    bottom: 0;
    border-bottom: 1px solid rgba(110, 137, 121, 0.4);
  }
  #values > .grid-container:last-child > .grid-container__left-col:after {
    display: none;
  }
  #values .grid-container__right-col,
  #values .grid-container__left-col {
    padding: 20px 25px 20px 20px;
    border-left: 1px solid rgba(110, 137, 121, 0.4);
    border-right: none;
  }
  .agreement-container__label > span {
    display: block;
  }
  .modal {
    width: 300px;
    max-width: 90%;
    height: 300px;
  }
  .modal-wrapper {
    padding: 40px 20px;
  }
  .modal-img {
    width: 330px;
    height: 300px;
    right: -200px;
    bottom: -170px
  }
  .modal-caption {
    font-size: 20px;
  }
  .modal-text {
    font-size: 16px;
  }
  .agreement {
    width: 80%;
    height: 80%;
  }
  .modal-close {
    right: -30px;
  }
}
